* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #f4f0ea, #ebecf3);
    width: 100%;
    overflow-x: hidden;
}

/* .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px;
    background-color: white;
    border-bottom: #555;
    flex-wrap: wrap;
    position:fixed;
    right: 0;
    top: 0;
    
}

.logo {
    display: flex;
    align-items: center;
}
.logo p{
    font-weight:bold;
}

.logo img {
    height: 34px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #555555;
    font-size: 18px;
    font-weight: 500;
}

.nav-links .active {
    color: #F8971F;
    font-weight: 600;
    font-size: 18px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.login-btn {
    background: none;
    border: 1px solid #5978FF;
    padding-left: 20PX;
    padding-right: 20PX;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5978FF;
    border-radius: 10px;
    font-size: 14px;
}


.get-started-btn {
    background: #5978FF;
    color: white;
    border: none;
    padding-left: 20PX;
    padding-right: 20PX;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
    
}
.hero {
    justify-content: center;
    position: relative;
    top: 200px;
   
   
}

.hero-text {
    width: 600px;
    height: 200;
    position: relative;
    left: 130px;
    
   
  
}

.hero-text h1 {
    font-weight: 550;
    font-size: 46px;
    line-height: 64px;
    color: #121214;
    position: relative;
}

.hero-text h1 span {
    color: #5978FF;
}

.hero-text p {
    width: 480px;
    height: 96px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    color:#121214;
    position: relative;
    top: 25px;
}

.selection {
    display: flex;
    gap: 19px;
    margin-top: 30px;
    flex-wrap: wrap;color: #555555;
    position: relative;
    top: 37px;
}

.selection div {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.selection img {
    height: auto;
}

.cta-btn {
    width: 208px;
    height: 58px;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #4760E2;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 450;
    padding: 17px 36px;
    position: relative;
    top: 80px;
    
    
}



.hero-image img {
    position: relative;
    left: 680px;
    bottom: 350px;
    
} */ 

.page2{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}
 .text2{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 550;
}
.image2{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.page3{
    width: 100%;
    height: 100vh;
    background-color: #F7F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .page3-con{

    width: 80%;
    height: 70%;
   
}
.page3-text{
    width: 100%;
    height: 10%;
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10dvh;
}
.page3-text-con{
    width: 100%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 5dvW;

}
.pa{
    flex-basis: 33%;
    height: 50%;

    display: flex;
    flex-direction: column;
    
}
.pa img{
    width: 3vw;
    height: 3vw;
}

.pa h4{
    font-size: 1.3vw;
    font-weight: 600;
    position: relative;
    top: 5%;
}
.pa p{

    font-size: 1vw;
    font-weight: 400;
    color: #555555;
    position: relative;
    top: 7%;

} 
.page4{
    width: 100%;
    height: 100vh;
    background-color: #4760E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4-con{
    width:80%;
    height: 75%;
    background-color: #F8971F;  
}
.con1{
    width: 100%;
    height: 15%;
    background-color: #555;
}
.con2{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.con3{
    width: 100%;
    height: 15%;
    background-color:yellow;
}
.im1{
    width: 33.3%;
    height: 100%;
    background-color: rosybrown;
}
.im2{
    width: 33.3%;
    height: 100%;
    background-color:olivedrab;
}
.im3{
    width: 33.3%;
    height: 100%;
    background-color: brown;
}
.im11{
    width: 100%;
    height: 48%;
    background-color: greenyellow;
}
.im12{
    width: 100%;
    height: 52%;
    background-color: green;
}
.im21{
    width: 100%;
    height: 48%;
    background-color: greenyellow;
}
.im22{
    width: 100%;
    height: 52%;
    background-color: green;
}
.im31{
    width: 100%;
    height: 48%;
    background-color: greenyellow;
}
.im32{
    width: 100%;
    height: 52%;
    background-color: green;
}
.page5{
    width: 100vw;
    height:100vh;
}
.nav{
    width: 100vw;
    height: 10%;
    border-bottom: #555555;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.nav1{
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3%;
    padding-left: 5%;
    font-size: 1.3vw;
    
}
 .nav1 img{
    width: 10%;
    height: 55%;
} 
.nav2{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    font-weight: 549;
    color: #555555;
    
}
.nav21{
    color: #F8971F;
    font-weight: 550;
}
.nav3{
    width: 33.4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    font-size: 1.3vw;
}
.btn{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

 .login-btn {
    background: none;
    border: 1px solid #5978FF;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #5978FF;
    border-radius: 10px;
    font-size: 80%;
}
.get-started-btn {
    background: #5978FF;
    color: white;
    border: none;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4.5%;
    padding-bottom:4.5%;
    border-radius: 10px;
    font-size: 80%;
    
}



 .page1{
    width: 100%;
    height: 90%;
    display: flex;
} 
 .page11{
    width:50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.box{
    width:70%;
    height: 70%;
}
.box1{
    width: 100%;
    height: 25%;
    display: flex;
    font-size: 1.5vw;
}
.box1 p{
    font-weight:2%;
    color: #121214;
}
.box1 span{
    color: #5978FF

}

.box2{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    color: #121214;
    font-size: 1.2vw;
    gap: 1%;
   
}

.box3{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box31{
    width: 33.33%;
    height: 100%;
    font-size:16px;
    display: flex;
    align-items: center;
    color: #121214;
}
.box31 img{
    width: 12%;
    height: 1%;
}
.box32{
    width: 33.33%;
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #121214;
}
.box32 img{
    width: 12%;
    height: 1%;
}
.box33{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
}
.box34 img{
    width: 100%;
    height: 20%;
}
.box4{
    width: 100%;
    height: 25%;
    display: flex;
    align-items:end;
}
.cta-btn {
    border-radius: 12px;
    background-color: #4760E2;
    color: white;
    border: none;
    font-size: 1.2vw;
    padding: 3% 3%;
    
    
}
.page12{
    width:50%;
    height: 100%;
    display: flex;
    align-items:end;
}
.hero-image{
    width: 80%;
    height: 80%;
} 



